<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" name="viewport"/>

    <title>Epidoc</title>
    <link href="../../resources/css/fore.css" rel="stylesheet"/>


    <style>
        /*
                @font-face {
                    font-family: "Kimberley";
                    src: url(../../resources/fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
                }
        */

        body, .wrapper{
            margin:0;
            padding:0;
            font-family: "Kimberley";
        }
        button{
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
        }
        .wrapper{
            width: 21cm;
            height: 29.7cm;
            background: lightyellow;
            margin:0 auto;
            padding: 2rem;
        }
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap:1rem;
            margin-bottom: 2rem;
            border:thin solid var(--paper-grey-300);
        }
        fx-control{
            display: grid;
            grid-template-columns: 200px auto;
            /*width: fit-content;*/

            grid-gap:0.3rem;
            margin: 0.5rem 0;

        }
        fx-control input{
            width:200px;
        }
        fx-control textarea{
            width: 95%;
            display: inline-block;
        }

        .group{
            border:thin solid var(--paper-grey-300);
            margin-bottom:1rem;
        }

        fx-control label{
            justify-self: end;
        }
        .green{
            background:green;
        }
        .orange{
            background:orange;
        }
        .yellow{
            background:yellow;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <fx-fore>
        <fx-model>
            <fx-instance src="templates/fore/epidoc.xml" xpath-default-namespace="http://www.tei-c.org/ns/1.0"/>
            <fx-instance id="province" src="data/province.json" type="json"/>
            <!--            <fx-instance id="country" src="data/country.json" type="json"/>-->
            <fx-instance id="decor" src="api/decor" type="json"/>
            <fx-instance id="typeins" src="data/typeins.json" type="json"/>
            <fx-instance id="objtyp" src="data/objtyp.json" type="json"/>
            <fx-instance id="statepreserv" src="data/statepreserv.json" type="json"/>
            <!--
                        <fx-instance id="material" src="api/material"/> -->
            <fx-instance id="tmp">
                <data>
                    <dummy>xpath?</dummy>
                    <dummycheck/>
                    <material-group/>

                </data>
            </fx-instance>
            <fx-bind ref="instance('tmp')/material-group" calculate="if(string-length(instance('default')//physDesc/objectDesc/supportDesc/support/material) != 0)                                 then instance('material')/category[./material/@name='Sandstein']/@name                                 else 'bäh'"/>
            <!--                     calculate="if(string-length(instance('default')//physDesc/objectDesc/supportDesc/support/material) != 0)-->
            <!--                                then instance('material')/category[material='klastische Sedimente']/@name-->
            <!--                                else ()"></fx-bind>-->
        </fx-model>
        <fx-group ref="teiHeader">
            <h1>EDEp Editor</h1>
            <pre>

                {log('tmp')}
            </pre>

            <fx-group ref=".//fileDesc">
                <fx-control ref="./publicationStmt/idno" class="todo">
                    <label>EDE-p-Id</label>
                    <span class="note">
                        generated id starting with 'EEE000001'
                    </span>
                </fx-control>
                <fx-control ref="instance('tmp')/dummy" class="todo">
                    <label>TM-Nummer</label>
                    <span class="note">
                        number from trismegistos.org
                    </span>
                </fx-control>
            </fx-group>

            <fx-group ref=".//msDesc" class="group gid">
                <fx-control ref="history/origin/origPlace/placeName[@type='province']">
                    <label>Provinz/augusteische Region</label>
                    <select ref="instance('province')" class="widget">
                        <template>
                            <option value="{?value}">{?value}</option>
                        </template>
                    </select>
                    <span class="note">
                        -&gt; Geodaten
                    </span>
                </fx-control>

                <fx-control ref="history/provenance/placeName[@type='country']">
                    <label>Land</label>

                    <form>
                        <auto-complete api="data/country.json" resultname="value" querymin="0" optionmax="500">
                            <input type="text" class="widget" name="name" />
                        </auto-complete>
                    </form>
                    <span class="note">
                        -&gt; Geodaten
                    </span>
                </fx-control>


                <fx-control ref="history/provenance/placeName[@type='region']">
                    <label>Region</label>
                    <span class="note">
                        -&gt; Geodaten
                    </span>

                </fx-control>

                <fx-control ref="history/origin/origPlace/placeName[@type='ancient']">
                    <label>Fundort (antik)</label>
                    <span class="note">
                        -&gt; Geodaten
                    </span>
                </fx-control>

                <fx-control ref="history/provenance/placeName[@type='modern']">
                    <label>Fundort (modern)</label>
                    <span class="note">
                        -&gt; Geodaten
                    </span>
                </fx-control>


                <fx-control ref="history/provenance/placeName[@type='findspot']">
                    <label>Fundstelle</label>
                    <span class="note">
                        -&gt; jeweils genaueste Fundstelle aus Geodaten - Eingabe über Map Komponente
                    </span>

                </fx-control>

                <fx-control ref=".//origDate/origDate">
                    <label>Fundjahr</label>
                </fx-control>

                <fx-control ref="instance('tmp')/dummy">
                    <label>Aufbewahrung</label>
                </fx-control>


                <fx-control ref="instance('tmp')/dummy" class="todo">
                    <label>Erhaltung</label>
                    <select ref="instance('statepreserv')" class="widget">
                        <template>
                            <option value="{?value}">{?name}</option>
                        </template>
                    </select>
                </fx-control>


                <!--
                                <fx-control ref="physDesc/objectDesc/supportDesc/support/rs/@ref">
                                    <label>Dekor</label>
                                    <select ref="instance('decor')?item" class="widget">
                                        <template>
                                            <option value="{?value}">{?name}</option>
                                        </template>
                                    </select>
                                </fx-control>
                -->

                <fx-control ref="/TEI/teiHeader/profileDesc/textClass/keywords/term" class="todo">
                    <label>Inschriftengattung</label>
                    <select ref="instance('typeins')" class="widget">
                        <template>
                            <option value="{?value}">{?name}</option>
                        </template>
                    </select>
                </fx-control>


                <fx-control ref="physDesc/objectDesc/supportDesc/support/objectType">
                    <label>Inschriftträger</label>
                    <select ref="instance('objtyp')" class="widget">
                        <template>
                            <option value="{?value}">{?name}</option>
                        </template>
                    </select>
                    <span class="note">
                        need to set textnode also in TEI?
                    </span>
                </fx-control>

                <fx-control ref="instance('tmp')/material-group" update-event="change">
                    <label>Material Gruppe</label>
                    <select ref="instance('material')/category" class="widget">
                        <template>
                            <option value="{@name}">{@name}</option>
                        </template>
                    </select>
                    <fx-refresh event="value-changed"/>
                </fx-control>

                <div>### {instance('material')/category[./material/@name='Sandstein']/@name}</div>
                <div>{instance('tmp')/material-group}</div>
                <div>{instance('default')//physDesc/objectDesc/supportDesc/support/material/@ref}</div>
                <div>{instance('default')//physDesc/objectDesc/supportDesc/support/material}</div>
                <fx-control ref="physDesc/objectDesc/supportDesc/support/material" update-event="change">
                    <label>Material</label>
                    <select ref="instance('material')/category[@name=instance('tmp')/material-group]/material/@name" class="widget">
                        <template>
                            <option value="{string(.)}">{.}</option>
                        </template>
                    </select>
                    <fx-setvalue event="value-changed" ref="//physDesc/objectDesc/supportDesc/support/material" value="string(..)"/>
                </fx-control>
                -->

                <!--
                                <fx-repeat id="r-material-group" ref="instance('material')/category">
                                    <template>
                                        <details>
                                            <summary>{@name}</summary>
                                            <fx-repeat id="r-material" ref="material">
                                                <template>
                                                    <span>{@name}</span>
                                                </template>
                                            </fx-repeat>
                                        </details>
                                    </template>
                                </fx-repeat> -->

                <fx-control ref=".//objectDesc/supportDesc/support/dimensions/height">
                    <label>Höhe</label>
                </fx-control>
                <fx-control ref="instance('tmp')/dummy">
                    <label>Breite</label>
                </fx-control>
                <fx-control ref="instance('tmp')/dummy">
                    <label>Tiefe</label>
                </fx-control>
            </fx-group>

            <fx-group class="group">
                <fx-control ref="instance('tmp')/dummy">
                    <label>IF-Höhe</label>
                </fx-control>
                <fx-control ref="instance('tmp')/dummy">
                    <label>IF-Breite</label>
                </fx-control>
                <fx-control ref="instance('tmp')/dummy">
                    <label>Buchstabenhöhe</label>
                </fx-control>
                <fx-control ref="instance('tmp')/dummy">
                    <label>Metrik</label>
                </fx-control>
                <fx-control ref="/TEI/teiHeader/profileDesc/langUsage/language" class="todo">
                    <label>Sprache</label>
                </fx-control>
                <fx-control ref=".//history/origin/origDate/origDate">
                    <label>Datierung Tag/Monat</label>
                </fx-control>
                <fx-control ref="instance('tmp')/dummy">
                    <label>Datierung Jahr</label>
                </fx-control>
            </fx-group>

            <fx-group class="group">
                <fx-control ref="instance('tmp')/dummycheck" value-prop="checked">
                    <label for="religion">Religion</label>
                    <input type="checkbox" id="religion"/>
                </fx-control>

                <fx-control ref="instance('tmp')/dummy" value-prop="checked">
                    <label id="geschichte">Sozial-/Wirtschafts-/Rechtsgeschichte</label>
                    <input type="checkbox" id="geschichte"/>
                </fx-control>

                <fx-control ref="instance('tmp')/dummy" value-prop="checked">
                    <label id="geographie">Geographie</label>
                    <input type="checkbox" id="geographie"/>
                </fx-control>

                <fx-control ref="instance('tmp')/dummy" value-prop="checked">
                    <label id="militaer" >Militär</label>
                    <input type="checkbox" id="militaer"/>
                </fx-control>

            </fx-group>

            <fx-group class="group">
                <fx-control ref="instance('tmp')/dummy">
                    <label>Stand der Bearbeitung</label>
                </fx-control>
            </fx-group>

            <fx-group class="group">
                <fx-control ref="/TEI/text/body/div[@type='bibliography']">
                    <label>Paläographie</label>
                </fx-control>
                <fx-control ref="instance('tmp')/dummy">
                    <label>Bibliographie</label>
                </fx-control>
                <fx-control ref="instance('tmp')/dummy">
                    <label>textkritischer Apparat</label>
                </fx-control>
                <fx-control ref="/TEI/text/body/div[@type='commentary']">
                    <label>Kommentar</label>
                    <textarea class="widget" rows="8"/>
                </fx-control>
            </fx-group>

            <fx-trigger>
                <button>Save</button>
            </fx-trigger>
        </fx-group>
        <fx-inspector/>
    </fx-fore>

</div>
<script type="module" src="../../resources/scripts/fore-debug.js"/>
</body>
</html>