<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <meta name="description" content="Default single text layout"/>
        <meta name="pb-template" content="view.html"/>

        <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap"/>
        <link rel="stylesheet" href="resources/css/theme.css"/>
        <link rel="stylesheet" href="resources/css/edep-theme2.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
        <style>
            main {
                margin: 0 20px;
            }

            .place a:any-link {
                text-decoration: none;
            }

            pb-geolocation {
                margin-left: 1rem;
            }

            pb-split-list {
                margin-top: 1em;
            }
        </style>
    </head>
    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved">
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html">
                            <a data-target="custom" href="${app}/orte?category=${category}&amp;search=${search}" data-template="lib:parse-params">Geodaten</a>
                            <a data-target="custom" href="${app}/personen" target="_blank" data-template="lib:parse-params">Personen</a>
                        </app-toolbar>
                        <app-toolbar data-template="lib:include" data-template-path="templates/toolbar.html"/>
                    </app-header>

                    <main>
                        <pb-custom-form id="options" auto-submit="paper-input,paper-icon-button" emit="transcription">
                            <div>
                                <paper-input id="query" name="search" label="Suche" data-template="templates:form-control">
                                    <paper-icon-button icon="search" slot="suffix"></paper-icon-button>
                                </paper-input>
                                <a href="geodata.html">
                                    <paper-button title="Neuer Fundort">
                                        <iron-icon icon="icons:add"></iron-icon>
                                        Neu
                                    </paper-button>
                                </a>
                            </div>
                        </pb-custom-form>
                        <pb-split-list url="api/places" subforms="#options" selected="A" emit="transcription" subscribe="transcription"></pb-split-list>
                    </main>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
        <script>
            window.addEventListener('DOMContentLoaded', function() {
                pbEvents.subscribe('pb-end-update', 'transcription', function() {
                    document.querySelectorAll('.place-id').forEach(function(link) {
                        link.addEventListener('click', function(ev) {
                            navigator.clipboard.writeText(link.id);
                        });
                    });
                });
            });
        </script>
    </body>
</html>