<html>
    <head>
        <meta charset="utf-8" />
        <base href="${app}/" data-template="pages:parse-params" />
        <title data-template="config:app-title"></title>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" />
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico" />
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16" />
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24" />
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32" />
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64" />
        <link rel="stylesheet" href="resources/css/theme.css" media="screen" />
        <link rel="stylesheet" href="resources/css/fore.css" media="screen" />
        <link rel="stylesheet" href="resources/css/edep-theme.css" media="screen" />
        <link rel="stylesheet" href="resources/css/edep-theme2.css" media="screen" />
        <link rel="stylesheet" href="resources/css/geo-picker.css" media="screen" />
        <link rel="stylesheet" href="transform/edep.css" media="screen" />
        <link rel="stylesheet" href="resources/css/zotero-autocomplete.css" media="screen" />
        <!-- Uncomment if jinn-codemirror is running on 8000 -->
        <!--script type="module" src="http://localhost:8000/src/jinn-codemirror-bundle.ts"></script-->
        <script type="module" src="resources/scripts/jinn-codemirror-bundle.js"></script>

        <!--        <script type="module" src="http://localhost:8090/index.js"></script>-->
        <script type="module" src="resources/scripts/fore-dev.js"></script>
        <script type="module" src="resources/scripts/zotero-autocomplete.js"></script>
        <script type="module" src="resources/scripts/edep-xml-editor.js"></script>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"></script>
    </head>

    <body>
        <pb-page
            data-template="pages:pb-page"
            unresolved="unresolved"
            locales="resources/i18n/{{ns}}/{{lng}}.json"
            require-language=""
            supported-languages="de,en">
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer slot="drawer" align="right">
                    <div class="drawer-content">
                        <pb-media-query query="(max-width: 1023px)">
                            <!-- language selector -->
                            <pb-lang name="lang" data-template="pages:languages"></pb-lang>
                        </pb-media-query>
                    </div>
                </app-drawer>
                <app-header-layout>
                    <app-header slot="header" fixed="fixed" reveals="reveals" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"></app-toolbar>
                        <pb-media-query query="(max-width: 1023px)">
                            <app-toolbar class="toolbar" sticky="sticky">
                                <!-- Search input -->
                                <pb-search
                                    action="${app}/search.html"
                                    data-template="lib:parse-params"
                                    value="${query}"
                                    redirect="redirect"></pb-search>
                                <paper-icon-button icon="icons:menu" drawer-toggle="drawer-toggle"></paper-icon-button>
                            </app-toolbar>
                        </pb-media-query>
                    </app-header>

                    <main id="main" class="editor">
                        <fx-fore show-confirmation="show-confirmation" id="epidoc-editor">
                            <fx-model data-template="pages:parse-params">
                                <fx-action event="model-construct-done">
                                    <fx-send submission="s-login" if="instance('vars')/loggedin != 'true'"></fx-send>
                                    <!-- ### if get called with an id param we load the data via submission ### -->
                                    <fx-send
                                        submission="s-load-inscription"
                                        if="exists(instance('params')/id)"></fx-send>
                                    <fx-setvalue ref="instance('vars')/inited">true</fx-setvalue>
                                </fx-action>

                                <fx-instance
                                    id="default"
                                    src="api/inscription"
                                    xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-bind ref="instance('default')">
                                    <fx-bind ref="teiHeader">
                                        <fx-bind
                                            ref="fileDesc/titleStmt/title"
                                            required="true()"
                                            constraint="string-length(.) &gt; 0">
                                        </fx-bind>
                                        <fx-bind ref="fileDesc/sourceDesc/msDesc/history">
                                            <fx-bind ref="provenance">
                                                <fx-bind ref="./@when" constraint="checkDate(.)"></fx-bind>
                                                <fx-bind ref="./@notBefore" constraint="checkDate(.)"></fx-bind>
                                                <fx-bind ref="./@notAfter" constraint="checkDate(.)"></fx-bind>
                                            </fx-bind>
                                            <fx-bind ref="origin/origDate">
                                                <fx-bind ref="./@when-custom" constraint="checkDate(.)"></fx-bind>
                                                <fx-bind ref="./@notBefore-custom" constraint="checkDate(.)"></fx-bind>
                                                <fx-bind ref="./@notAfter-custom" constraint="checkDate(.)"></fx-bind>
                                            </fx-bind>
                                        </fx-bind>
                                    </fx-bind>
                                </fx-bind>

                                <fx-instance id="typeins" src="../edep-data/typeins.xml">
                                    <data></data>
                                </fx-instance>
                                <fx-instance id="objtyp" src="../edep-data/objtyp.xml">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="material" src="../edep-data/material.xml">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="palaeo" src="../edep-data/palaeographie.xml">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="languages" src="../edep-data/languages.xml">
                                    <data></data>
                                </fx-instance>

                                <fx-instance
                                    id="templates"
                                    src="templates/fore/templates.xml"
                                    xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                                    <data></data>
                                </fx-instance>

                                <fx-instance id="vars" shared="true">
                                    <data>
                                        <appdir>${app}</appdir>
                                        <display-leiden>hidden</display-leiden>
                                        <can-delete>false</can-delete>
                                        <parent></parent>
                                        <uuid></uuid>
                                        <geoid></geoid>
                                        <loggedin>hidden</loggedin>
                                        <xml-valid>true</xml-valid>
                                        <history-term></history-term>
                                        <geography-term></geography-term>
                                        <military-term></military-term>
                                        <language>en</language>
                                        <inited>false</inited>
                                        <verification>
                                            <option lang="de" value="autopsy">Autopsie</option>
                                            <option lang="de" value="squeeze">Abklatsch</option>
                                            <option lang="de" value="photo">Foto</option>
                                            <option lang="de" value="drawing">Zeichnung</option>
                                            <option lang="de" value="not-seen">nicht gesehen</option>
                                            <option lang="en" value="autopsy">Autopsy</option>
                                            <option lang="en" value="squeeze">Squeeze</option>
                                            <option lang="en" value="photo">Photo</option>
                                            <option lang="en" value="drawing">Drawing</option>
                                            <option lang="en" value="not-seen">not seen</option>
                                        </verification>
                                    </data>
                                </fx-instance>
                                <fx-bind ref="instance('vars')/can-delete" relevant="index('parts') gt 1"></fx-bind>
                                <fx-bind ref="instance('vars')/loggedin" relevant=".='true'"></fx-bind>
                                <fx-bind
                                    ref="instance('vars')/xml-valid"
                                    calculate="editorsValid()"
                                    constraint=".='true'"></fx-bind>

                                <fx-instance id="tmp">
                                    <data>
                                        <dummy>xpath?</dummy>
                                    </data>
                                </fx-instance>

                                <!-- this instance holds queryString params from the Url of this page -->
                                <fx-instance id="params">
                                    <data>
                                        <id>${id}</id>
                                        <collection>${collection}</collection>
                                        <app>${app}</app>
                                    </data>
                                </fx-instance>

                                <fx-submission
                                    id="s-load-inscription"
                                    url="api/inscription?id={instance('params')/id}&amp;collection={instance('params')/collection}"
                                    method="get"
                                    replace="instance"
                                    validate="false">
                                    <fx-message event="submit-error">
                                        <pb-i18n key="loading-failed"></pb-i18n>
                                    </fx-message>

                                    <fx-action event="submit-done">
                                        <!--
                                            ### initializing state for 30) 31) 32) dummy switches
                                        -->
                                        <fx-setvalue
                                            ref="instance('vars')/history-term"
                                            value="if(exists(instance('default')//term[@ref='#social-economic-legal-history'])) then 'true' else 'false'"></fx-setvalue>

                                        <fx-setvalue
                                            ref="instance('vars')/geography-term"
                                            value="if(exists(instance('default')//term[@ref='#geography'])) then 'true' else 'false'"></fx-setvalue>

                                        <fx-setvalue
                                            ref="instance('vars')/military-term"
                                            value="if(exists(instance('default')//term[@ref='#military'])) then 'true' else 'false'"></fx-setvalue>
                                    </fx-action>
                                </fx-submission>

                                <fx-submission
                                    id="s-create"
                                    url="api/inscription?collection={instance('params')/collection}"
                                    method="post"
                                    replace="instance">
                                    <fx-message event="submit-done">
                                        <pb-i18n key="form.data-saved"></pb-i18n>
                                    </fx-message>
                                    <fx-action event="submit-error">
                                        <fx-message>
                                            <pb-i18n key="form.save-failed"></pb-i18n>
                                        </fx-message>
                                        <fx-action src="resources/scripts/showErrors.js"></fx-action>
                                    </fx-action>
                                </fx-submission>

                                <fx-submission
                                    id="s-save"
                                    url="api/inscription?id={instance('params')/id}&amp;collection={instance('params')/collection}"
                                    method="post"
                                    replace="instance">
                                    <fx-message event="submit-done">
                                        <pb-i18n key="form.data-saved"></pb-i18n>
                                    </fx-message>
                                    <fx-action event="submit-error">
                                        <fx-message>
                                            <pb-i18n key="form.save-failed"></pb-i18n>
                                        </fx-message>
                                        <fx-action src="resources/scripts/showErrors.js"></fx-action>
                                    </fx-action>
                                </fx-submission>

                                <fx-function signature="gen-id() as xs:string" type="text/javascript">
                                    return createUUID();
                                </fx-function>

                                <fx-instance id="login" type="json">{}</fx-instance>
                                <fx-submission
                                    id="s-login"
                                    ref="instance('login')?*"
                                    url="api/login"
                                    method="post"
                                    replace="instance"
                                    instance="login"
                                    validate="false">
                                    <fx-setvalue ref="instance('vars')/loggedin" event="submit-error"
                                        >false</fx-setvalue
                                    >
                                    <fx-setvalue ref="instance('vars')/loggedin" event="submit-done">true</fx-setvalue>
                                </fx-submission>

                                <fx-function signature="editorsValid() as xs:boolean" type="text/javascript">
                                    const editors =
                                    form.querySelectorAll('jinn-xml-editor[valid="false"],jinn-epidoc-editor[valid="false"]');
                                    if(editors.length !== 0){ return false; }else{ return true; }
                                </fx-function>

                                <fx-function
                                    signature="shortlang($input as xs:string,$default as xs:string) as xs:string"
                                    type="text/javascript">
                                    if($input) { return $input.substring(0, 2); } return $default;
                                </fx-function>

                                <fx-function
                                    signature="checkDate($value as xs:string) as xs:boolean"
                                    type="text/javascript">
                                    return checkDate($value);
                                </fx-function>
                                <fx-function
                                    signature="sortNames($terms as element()*) as element()*"
                                    type="text/xquery">
                                    let $lang := instance('vars')/language for $term in $terms order by
                                    $term/name[@xml:lang = $lang] return $term
                                </fx-function>
                                <fx-function
                                    signature="sortLang($langs as element()*) as element()*"
                                    type="text/xquery">
                                    for $term in $langs order by $term return $term
                                </fx-function>
                                <fx-function
                                    signature="computeBiblId($bibls as element()*) as xs:string"
                                    type="text/xquery">
                                    max(( 0, for $bibl in $bibls/@xml:id where starts-with($bibl, 'bibl-') return
                                    xs:int(substring-after($bibl, 'bibl-')) )) + 1
                                </fx-function>
                                <fx-function
                                    signature="clipboard($value as xs:string) as xs:string"
                                    type="text/javascript">
                                    console.log($value); navigator.clipboard.writeText($value); return $value;
                                </fx-function>
                                <fx-function
                                    signature="scrollto($selector as xs:string) as xs:string"
                                    type="text/javascript">
                                    const found = document.querySelector($selector); if(found){
                                    found.scrollIntoView({block: "start", inline: "nearest", behavior:"smooth"}); }
                                </fx-function>
                                <!--
                                    <fx-function signature="expander() as xs:boolean" type="text/javascript">
                                    const expander = document.querySelector('#expander');
                                    const details = document.querySelectorAll('details');

                                    if(expander.classList.contains('expanded')){
                                    Array.from(details).foreach(d => {
                                    details.removeAttribute('open');
                                    });
                                    }else{
                                    Array.from(details).foreach(d => {
                                    details.setAttribute('open','open');
                                    expander.classList.addClass('expanded');
                                    });
                                    }
                                    return true;
                                    </fx-function>
                                -->
                            </fx-model>
                            <fx-action event="pb-i18n-update" target="#document">
                                <fx-setvalue
                                    ref="instance('vars')/language"
                                    value="shortlang(event('language'), instance('vars')/language/string())"></fx-setvalue>
                                <fx-refresh force="force"></fx-refresh>
                            </fx-action>

                            <fx-var name="lang" value="instance('vars')/language"></fx-var>

                            <nav aria-labelledby="navigation">
                                <div id="navigation">Navigation</div>
                                <ul>
                                    <li>
                                        <fx-trigger id="addChild" class="add" title="create child document">
                                            <button>
                                                <pb-i18n key="form.add"></pb-i18n>
                                            </button>
                                            <!-- TODO clone current document content into a child document with a new id and
                                                - TEI/@corresp pointing to this one's xml:id
                                                - TEI/@type set to 'partial'
                                            -->
                                        </fx-trigger>
                                    </li>

                                    <li>
                                        <a
                                            href="edit/{instance('params')/collection}/{instance('params')/id}.xml#object">
                                            <pb-i18n key="form.object">Objekt</pb-i18n>
                                        </a>
                                        <!--                                <fx-trigger id="expander">-->
                                        <button id="expander" onclick="expander()">&lt; &gt;</button>
                                        <!--                                    <fx-call function="expander()"></fx-call>-->
                                        <!--                                </fx-trigger>-->
                                    </li>
                                    <li class="nav-fragments" data-ref="teiHeader">
                                        <ul>
                                            <li>
                                                <a
                                                    href="edit/{instance('params')/collection}/{instance('params')/id}.xml#findspot">
                                                    <pb-i18n key="form.findspot"></pb-i18n>
                                                </a>
                                            </li>
                                            <li>
                                                <a
                                                    href="edit/{instance('params')/collection}/{instance('params')/id}.xml#finddate">
                                                    <pb-i18n key="form.year-of-find"></pb-i18n>
                                                </a>
                                            </li>
                                            <li>
                                                <a
                                                    href="edit/{instance('params')/collection}/{instance('params')/id}.xml#location">
                                                    <pb-i18n key="form.last-recorded-location"></pb-i18n>
                                                </a>
                                            </li>
                                            <li>
                                                <a
                                                    href="edit/{instance('params')/collection}/{instance('params')/id}.xml#verification">
                                                    <pb-i18n key="form.verification"></pb-i18n>
                                                </a>
                                            </li>
                                            <li>
                                                <a
                                                    href="edit/{instance('params')/collection}/{instance('params')/id}.xml#objectdesc">
                                                    <pb-i18n key="form.object-description"></pb-i18n>
                                                </a>
                                            </li>
                                            <li>
                                                <a
                                                    href="edit/{instance('params')/collection}/{instance('params')/id}.xml#inscription-field">
                                                    <pb-i18n key="form.inscription-field"></pb-i18n>
                                                </a>
                                            </li>
                                            <li>
                                                <a
                                                    href="edit/{instance('params')/collection}/{instance('params')/id}.xml#text-description">
                                                    <pb-i18n key="form.text-description"></pb-i18n>
                                                </a>
                                            </li>
                                            <li>
                                                <a
                                                    href="edit/{instance('params')/collection}/{instance('params')/id}.xml#languages">
                                                    <pb-i18n key="form.language"></pb-i18n>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a
                                            href="edit/{instance('params')/collection}/{instance('params')/id}.xml#references">
                                            <pb-i18n key="form.references"></pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="edit/{instance('params')/collection}/{instance('params')/id}.xml#edition">
                                            <pb-i18n key="form.edition">Textedition</pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="edit/{instance('params')/collection}/{instance('params')/id}.xml#commentary">
                                            <pb-i18n key="form.commentary"></pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="edit/{instance('params')/collection}/{instance('params')/id}.xml#chronology">
                                            <pb-i18n key="form.dating"></pb-i18n>
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            href="edit/{instance('params')/collection}/{instance('params')/id}.xml#historic-relevance">
                                            <pb-i18n key="form.historic-relevance"></pb-i18n>
                                        </a>
                                    </li>
                                    <li class="nav-fragments">
                                        FRAGMENTS (if available)
                                        <!-- TODO show links to children (fragment documents)-->
                                    </li>
                                </ul>
                            </nav>
                            <fx-group ref="teiHeader" aria-labelledby="title-lbl" class="outer-group">
                                <h1 id="title-lbl">
                                    <fx-control id="edeptitle" class="title" ref="fileDesc/titleStmt/title">
                                        <label>
                                            <pb-i18n key="form.title"></pb-i18n>
                                        </label>
                                    </fx-control>
                                </h1>
                                <!--            <span>Sprachselector hier</span>-->

                                <!-- IDENTIFIERs -->
                                <!--  fileDesc/sourceDesc/msDesc/msIdentifier -->
                                <div
                                    id="object"
                                    data-template="lib:include"
                                    data-template-path="templates/parts/object.html"
                                    data-template-replace="true"></div>

                                <fx-group
                                    ref="fileDesc/sourceDesc/msDesc"
                                    id="inscription"
                                    aria-labelledby="inscription-lbl">
                                    <h2 id="inscription-lbl">Inscription</h2>

                                    <!-- FINDSPOT -->
                                    <!-- fileDesc/sourceDesc/msDesc/history -->
                                    <div
                                        id="findspot"
                                        data-template="lib:include"
                                        data-template-path="templates/parts/findspot.html"
                                        data-template-replace="true"></div>

                                    <!-- FIND DATE -->
                                    <!-- fileDesc/sourceDesc/msDesc/history/provenance -->
                                    <div
                                        id="finddate"
                                        data-template="lib:include"
                                        data-template-path="templates/parts/finddate.html"
                                        data-template-replace="true"></div>

                                    <!-- PRESENT LOCATION -->
                                    <div
                                        id="location"
                                        data-template="lib:include"
                                        data-template-path="templates/parts/location.html"
                                        data-template-replace="true"></div>

                                    <!-- OBJECT DESCRIPTION -->
                                    <!-- physDesc/objectDesc -->
                                    <div
                                        id="objectdesc"
                                        data-template="lib:include"
                                        data-template-path="templates/parts/objectdesc.html"
                                        data-template-replace="true"></div>

                                    <!-- INSCRIPTION FIELD -->

                                    <div
                                        id="inscription-field"
                                        data-template="lib:include"
                                        data-template-path="templates/parts/inscription-field.html"
                                        data-template-replace="true"></div>

                                    <!-- TEXT DESCRIPTION -->

                                    <div
                                        id="text-description"
                                        data-template="lib:include"
                                        data-template-path="templates/parts/text-description.html"
                                        data-template-replace="true"></div>
                                </fx-group>

                                <fx-group ref="profileDesc" class="outer-group" aria-labelledby="profile-lbl">
                                    <div
                                        id="languages"
                                        data-template="lib:include"
                                        data-template-path="templates/parts/languages.html"
                                        data-template-replace="true"></div>
                                </fx-group>

                                <div
                                    id="verification"
                                    data-template="lib:include"
                                    data-template-path="templates/parts/verification.html"
                                    data-template-replace="true"></div>

                                <fx-group ref="fileDesc/sourceDesc/listBibl" id="references">
                                    <h2>
                                        <pb-i18n key="form.references">Referenzen</pb-i18n>
                                        <pb-popover>
                                            <iron-icon icon="info-outline"></iron-icon>
                                            <template slot="alternate">
                                                <pb-i18n key="form.hint-references"></pb-i18n>
                                            </template>
                                        </pb-popover>
                                    </h2>

                                    <div
                                        id="transmission"
                                        data-template="lib:include"
                                        data-template-path="templates/parts/transmission.html"
                                        data-template-replace="true"></div>
                                    <div
                                        id="prev-editions"
                                        data-template="lib:include"
                                        data-template-path="templates/parts/prev-editions.html"
                                        data-template-replace="true"></div>
                                    <div
                                        id="bibliography"
                                        data-template="lib:include"
                                        data-template-path="templates/parts/bibliography.html"
                                        data-template-replace="true"></div>
                                    <div
                                        id="images"
                                        data-template="lib:include"
                                        data-template-path="templates/parts/images.html"
                                        data-template-replace="true"></div>
                                    <div
                                        id="pictures"
                                        data-template="lib:include"
                                        data-template-path="templates/parts/pictures.html"
                                        data-template-replace="true"></div>
                                </fx-group>
                                <!-- NEW VERSION ends here;  -->

                                <!-- 26) -->
                                <div
                                    id="dating"
                                    data-template="lib:include"
                                    data-template-path="templates/parts/dating.html"
                                    data-template-replace="true"></div>

                                <div
                                    id="historic-relevance"
                                    data-template="lib:include"
                                    data-template-path="templates/parts/historic-relevance.html"
                                    data-template-replace="true"></div>

                                <!-- 35b) -->
                                <!-- 35a) -->
                                <!-- 35d) -->

                                <!-- 47) -->
                                <!-- 45) -->
                                <div
                                    id="editor"
                                    data-template="lib:include"
                                    data-template-path="templates/parts/editor.html"
                                    data-template-replace="true"></div>
                            </fx-group>
                            <fx-group ref="text/body" class="outer-group">
                                <!-- EDITION and COMMENTARY together as they are all stored in BODY -->
                                <div
                                    id="edition"
                                    data-template="lib:include"
                                    data-template-path="templates/parts/edition.html"
                                    data-template-replace="true"></div>

                                <!--
                                    This won't call the update-cycle for each event as the replace action in its current form does not
                                    call it. The control will refresh the UI when the control looses focus (onblur).
                                -->
                                <div
                                    id="commentary"
                                    data-template="lib:include"
                                    data-template-path="templates/parts/commentary.html"
                                    data-template-replace="true"></div>
                            </fx-group>

                            <section class="buttonBar">
                                <pb-restricted login="login" group="tei">
                                    <p class="loginMessage" slot="fallback">You need to be logged in to save.</p>

                                    <fx-trigger class="saveBtn" debounce="1000">
                                        <button>
                                            <pb-i18n key="form.save"></pb-i18n>
                                        </button>
                                        <fx-action if="not(exists(instance('params')/id))">
                                            <fx-send submission="s-login"></fx-send>
                                            <fx-send submission="s-create"></fx-send>
                                        </fx-action>
                                        <fx-action if="exists(instance('params')/id)">
                                            <fx-send submission="s-login"></fx-send>
                                            <fx-send submission="s-save"></fx-send>
                                        </fx-action>
                                    </fx-trigger>
                                    <fx-trigger>
                                        <a href="edit/workspace/">
                                            <pb-i18n key="form.new">Neuer Eintrag</pb-i18n>
                                        </a>
                                    </fx-trigger>
                                </pb-restricted>
                                <fx-trigger>
                                    <a href="index.html">
                                        <pb-i18n key="form.list">Zur Liste</pb-i18n>
                                    </a>
                                </fx-trigger>
                            </section>

                            <fx-control ref="instance('vars')/xml-valid" class="valid-warning">
                                <fx-alert>
                                    <pb-i18n key="form.invalid-data"></pb-i18n>
                                </fx-alert>
                                <input style="display: none" />
                            </fx-control>
                        </fx-fore>
                    </main>

                    <footer class="version">
                        App: v<span data-template="pages:version"></span> / web components: v
                        <pb-version></pb-version>
                    </footer>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"></div>

        <script src="./resources/scripts/util.js" type="text/javascript"></script>
        <!--fx-devtools></fx-devtools-->
    </body>
</html>
