<html>

<head>
    <meta charset="utf-8"/>
    <title data-template="config:app-title"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald"/>
    <link rel="stylesheet" href="resources/css/theme.css"/>
    <link rel="stylesheet" href="resources/css/fore.css"/>
    <link rel="stylesheet" href="resources/css/edep-theme.css"/>
    <!-- Uncomment if jinn-codemirror is running on 8000 -->
    <!--script type="module" src="http://localhost:8000/src/jinn-codemirror-bundle.ts"></script-->
    <script type="module" src="resources/scripts/jinn-codemirror-bundle.js"></script>

    <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>

    <script type="module" src="resources/scripts/fore-dev.js"></script>
    <!--
        when running with Fore on localhost for debugging with latest sources:
        1. uncomment this and comment above Fore import
        2. Replace controller.xql with localhost-controller.xql
    -->
    <!--    <script type="module" src="http://localhost:8090/index.js"/>-->
    <!--    <script type="module" src="resources/scripts/datalist-ajax/datalist-ajax.min.js"></script>-->


<style>
    .valid{
        position:fixed;
        bottom:0;
        left:0;
        padding:1rem;
        background: red;
        color:white;
    }

    select {
        width: 100%;
    }
</style>
</head>

<body>
<pb-page data-template="pages:pb-page" unresolved="unresolved">
    <app-drawer-layout force-narrow="force-narrow">
        <app-drawer slot="drawer" align="right">
            <div class="drawer-content">
                <pb-media-query query="(max-width: 1023px)">
                    <!-- language selector -->
                    <pb-lang name="lang" data-template="pages:languages"/>
                </pb-media-query>
            </div>
        </app-drawer>
        <app-header-layout>
            <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                <app-toolbar class="menubar">
                    <a href="${app}/index.html" class="logo" data-template="lib:parse-params"/>
                    <pb-media-query query="(min-width: 1024px)">
                        <a href="${app}/index.html" data-template="lib:parse-params">Inschriften</a>
                        <a href="${app}/geodata.html" target="_blank" data-template="lib:parse-params">Geodaten</a>

                        <pb-restricted login="login" group="tei">
                            <paper-menu-button>
                                <a href="#" slot="dropdown-trigger">
                                    <pb-i18n key="menu.admin.title">Admin</pb-i18n>
                                </a>
                                <paper-listbox slot="dropdown-content">
                                    <paper-item>
                                        <pb-download url="api/apps/download">
                                            <pb-i18n key="appgen.xar-download">Download App as .xar</pb-i18n>
                                        </pb-download>
                                    </paper-item>
                                    <paper-item data-template="pages:edit-odd-list"/>
                                    <paper-item>
                                        <a href="${app}/api.html" data-template="lib:parse-params" target="_blank">API Documentation</a>
                                    </paper-item>
                                </paper-listbox>
                            </paper-menu-button>
                        </pb-restricted>
                        <!-- Search input -->
                        <!--                            <pb-search action="${app}/search.html" data-template="lib:parse-params" value="${query}" redirect="redirect"/>-->

                        <!-- language selector -->
                        <pb-lang name="lang" data-template="pages:languages"/>
                    </pb-media-query>
                    <pb-login id="login" group="tei">
                        <iron-icon slot="icon" icon="account-circle"/>
                    </pb-login>
                    <pb-progress indeterminate="indeterminate" bottom-item="bottom-item" subscribe="docs"/>
                </app-toolbar>
                <pb-media-query query="(max-width: 1023px)">
                    <app-toolbar class="toolbar" sticky="sticky">
                        <!-- Search input -->
                        <pb-search action="${app}/search.html" data-template="lib:parse-params" value="${query}" redirect="redirect"/>
                        <paper-icon-button icon="icons:menu" drawer-toggle="drawer-toggle"/>
                    </app-toolbar>
                </pb-media-query>
            </app-header>

            <main>
                <!--                    <fx-fore src="templates/fore/epidoc.html"></fx-fore>-->
                <fx-fore valid="true">
                    <fx-send submission="s-login" event="pb-login" target="#document"></fx-send>

                    <!-- ### if get called with an id param we load the data via submission ### -->
                    <fx-send submission="s-load-inscription" event="ready" if="exists(instance('params')/id)"></fx-send>

                    <fx-model>
                        <fx-send event="model-construct-done" submission="s-login"/>

                        <fx-instance id="default" src="api/inscription"
                                     xpath-default-namespace="http://www.tei-c.org/ns/1.0">

                        </fx-instance>
                        <fx-bind ref="instance('default')//fileDesc/titleStmt/title" required="true()"/>


                        <!--            <fx-instance id="province" src="data/province.json" type="json"></fx-instance>-->
                        <!--            <fx-instance id="country" src="data/country.json" type="json"/>-->
                        <!--            <fx-instance id="decor" src="api/decor" type="json"/>-->
                        <fx-instance id="typeins" src="data/typeins.json" type="json">

                        </fx-instance>
                        <fx-instance id="objtyp" src="data/objtyp.json" type="json">

                        </fx-instance>
                        
                        <fx-instance id="material" src="data/material.json" type="json"></fx-instance>

                        <fx-instance id="mspart" src="templates/fore/mspart-tmpl.xml"
                                     xpath-default-namespace="http://www.tei-c.org/ns/1.0">

                        </fx-instance>

                        <fx-instance id="templates" src="templates/fore/templates.xml"
                                     xpath-default-namespace="http://www.tei-c.org/ns/1.0">

                        </fx-instance>

                        <fx-instance id="vars">
                            <data>
                                <display-leiden>hidden</display-leiden>
                                <can-delete>false</can-delete>
                                <parent></parent>
                                <uuid></uuid>
                                <geoid></geoid>
                                <loggedin>hidden</loggedin>
                                <xml-valid></xml-valid>
                            </data>
                        </fx-instance>
                        <fx-bind ref="instance('vars')/can-delete" relevant="index('parts') gt 1"></fx-bind>
                        <fx-bind ref="instance('vars')/loggedin" relevant=".='true'"></fx-bind>
                        <fx-bind ref="instance('vars')/xml-valid" calculate="editorsValid()" constraint=".='true'"></fx-bind>


                        <fx-instance id="tmp">
                            <data>
                                <dummy>xpath?</dummy>
                            </data>
                        </fx-instance>

                        <fx-instance xmlns="http://www.tei-c.org/ns/1.0" id="epidoc-editor" src="templates/fore/epidoc-snippet.xml"
                                     xpath-default-namespace="http://www.tei-c.org/ns/1.0">

                        </fx-instance>

                        <!-- this instance holds queryString params from the Url of this page -->
                        <fx-instance id="params" src="#querystring">

                        </fx-instance>

                        <fx-submission id="s-load-inscription"
                                       url="api/inscription?id={instance('params')/id}"
                                       method="get"
                                       replace="instance"
                                       validate="false">
                            <fx-message event="submit-error">Failed to load Inscription</fx-message>
                        </fx-submission>

                        <fx-submission id="s-create"
                                       url="api/inscription"
                                       method="post"
                                       replace="instance">
                            <fx-message event="submit-done">Daten wurden gespeichert</fx-message>

                            <fx-action event="submit-error">
                                <fx-message>Daten konnten nicht gespeichert werden.</fx-message>
                                <fx-message>Please login to edit.</fx-message>
                            </fx-action>
                        </fx-submission>

                        <fx-submission id="s-save"
                                       url="api/inscription?id={instance('params')/id}"
                                       method="post"
                                       replace="instance">
                            <fx-message event="submit-done">Daten wurden aktualisiert</fx-message>
                            <fx-action event="submit-error">
                                <fx-message>Daten konnten nicht gespeichert werden.</fx-message>
                                <fx-message>Please login to edit.</fx-message>
                            </fx-action>
                        </fx-submission>

                        <!-- todo:            -->
                        <fx-instance id="geodata"  xpath-default-namespace="http://www.tei-c.org/ns/1.0">
                            <data></data>
                        </fx-instance>
                        <fx-submission id="s-load-geodata"
                                       url="api/places/{instance()//origPlace/@corresp}"
                                       method="get"
                                       replace="instance"
                                       instance="geodata"
                                       validate="false">
                        </fx-submission>

                        <fx-function signature="gen-id() as xs:string" type="text/javascript">
                            return createUUID();
                        </fx-function>

                        <fx-instance id="login" type="json">{}</fx-instance>
                        <fx-submission id="s-login" ref="instance('login')?*" url="api/login" method="post" replace="instance" instance="login" validate="false">
                            <fx-message event="submit-error">Please login to edit.</fx-message>
                            <fx-setvalue ref="instance('vars')/loggedin" event="submit-error">false</fx-setvalue>
                            <fx-setvalue ref="instance('vars')/loggedin" event="submit-done">true</fx-setvalue>
                        </fx-submission>

                        <fx-function signature="editorsValid() as xs:boolean" type="text/javascript">
                            const editors = form.querySelectorAll('jinn-xml-editor[valid="false"],jinn-epidoc-editor[valid="false"]');
                            if(editors.length !== 0){
                                return false;
                            }else{
                                return true;
                            }
                        </fx-function>

                    </fx-model>

                    <div class="login-hint {instance('vars')/loggedin}">Bitte loggen Sie sich ein, um zu editieren.</div>

                    <div class="valid">editorsValid() returned: {editorsValid()}</div>

                    <fx-group ref="teiHeader">
                        <h1>EDEp Editor</h1>
                        <fx-control class="title" ref="fileDesc/titleStmt/title">
                            <label>Titel</label>
                        </fx-control>

                        <!--            <span>Sprachselector hier</span>-->
                        <fx-group class="group-1">
                            <!-- 3) -->
                            <fx-output ref=".//msDesc/msIdentifier/idno">
                                <label slot="label">EDE-p-Id</label>
                            </fx-output>

                            <!-- 16a) -->
                            <fx-control ref="//physDesc/objectDesc/supportDesc/support/objectType/@ref">
                                <label>Inschriftträger</label>
                                <select ref="instance('objtyp')?*" class="widget" selection="open">
                                    <template>
                                        <option value="{?value}">{?name}</option>
                                    </template>
                                </select>
                            </fx-control>

                            <!-- 16b) -->
                            <fx-control ref="//physDesc/objectDesc/supportDesc/support/note">
                                <label>Beschreibung Inschriftträger</label>
                            </fx-control>

                            <!-- there's no 17) -->

                            <!-- 18) -->
                            <fx-control ref="//physDesc/objectDesc/supportDesc/support/material/@ref" update-event="change"
                                        class="orange">
                                <label>Material</label>
                                <select ref="instance('material')?*" class="widget" selection="open">
                                    <template>
                                        <option value="{?value}">{?name}</option>
                                    </template>
                                </select>
                            </fx-control>
                        </fx-group>

                        <fx-repeat id="parts" ref=".//msPart">
                            <template>

                                <fieldset>
                                    <legend>Fragment {count(./preceding-sibling::msPart) + 1}</legend>
                                    <fx-group class="group-2">
                                        <!-- 4) -->
                                        <fx-control ref="msIdentifier/idno">
                                            <label>TM-Nummer</label>
                                        </fx-control>
                                        <!-- geoId from geodata -->
                                        <fx-control ref="history/origin/origPlace/@corresp">
                                            <label>GeoId</label>
                                            <fx-action event="value-changed">
                                                <fx-send submission="s-load-geodata"></fx-send>
                                            </fx-action>
                                        </fx-control>

                                        <!-- 5) -->
                                        <fx-output ref="instance('geodata')/region[@type='province']">
                                            <label slot="label">Provinz/augusteische Region</label>
                                        </fx-output>

                                        <!-- 6) -->
                                        <fx-output ref="instance('geodata')/country">
                                            <label slot="label">Land</label>
                                        </fx-output>

                                        <!-- 7) -->
                                        <fx-output ref="instance('geodata')/region[@type='region']">
                                            <label slot="label">Region</label>
                                        </fx-output>

                                        <!-- 8) -->
                                        <fx-output ref="instance('geodata')/placeName[@type='ancient']">
                                            <label slot="label">Fundort (antik)</label>
                                        </fx-output>

                                        <!-- 9) -->
                                        <fx-output ref="instance('geodata')/placeName[@type='modern']">
                                            <label slot="label">Fundort (modern)</label>
                                        </fx-output>

                                        <!-- 10a) -->
                                        <fx-output ref="instance('geodata')//placeName[@type='findspot']">
                                            <label slot="label">Fundstelle</label>
                                        </fx-output>

                                        <!-- 10b) -->
                                        <fx-control ref="history/provenance/note[@type='context']">
                                            <label>Fundkontext</label>
                                            <textarea rows="4" class="widget"></textarea>
                                        </fx-control>

                                        <!-- 11) -->

                                        <!-- YYYY ->  matches(//title,'^-?[1-9]\d*$')-->
                                        <!-- YYYY-MM-DD -> matches(//title,'^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$')    -->
                                        <div class="block">
                                            <h3>Fundjahr/-datum</h3>
                                            <fx-control ref="history/provenance/@when">
                                                <label>Zeitpunkt</label>
                                                <input placeholder="YYYY, YYYY-MM oder YYYY-MM-DD" class="widget"/>
                                            </fx-control>
                                            <fx-control ref="history/provenance/@notBefore">
                                                <label>nach</label>
                                            </fx-control>
                                            <fx-control ref="history/provenance/@notAfter">
                                                <label>vor</label>
                                            </fx-control>
                                            <fx-control ref="history/provenance/@when-custom">
                                                <label>freie Angabe</label>
                                            </fx-control>
                                        </div>

                                        <!-- 12a) -->
                                        <fx-control ref="msIdentifier/repository">
                                            <label>Aufbewahrung</label>
                                        </fx-control>
                                        <!-- 12b-12e missing -->

                                    </fx-group>

                                    <fx-group class="group-3">

                                        <!-- 13) -->
                                        <fx-control ref="physDesc/objectDesc/supportDesc/condition">
                                            <label>Erhaltung</label>
                                            <select class="widget">
                                                <option value="complete">vollständig</option>
                                                <option value="fragmentary">fragmentarisch</option>
                                            </select>
                                        </fx-control>

                                        <!-- 14) -->
                                        <fx-control ref="physDesc/objectDesc/supportDesc/support/rs/@ref" update-event="input">
                                            <label>Dekor</label>
                                            <select class="widget">
                                                <option value="https://www.eagle-network.eu/voc/decor/lod/2000">Ja</option>
                                                <option value="https://www.eagle-network.eu/voc/decor/lod/1000">Nein</option>
                                                <option value="uncertain">unsicher</option>
                                            </select>
                                        </fx-control>

                                        <!-- 15) -->
                                        <fx-control ref="msContents/msItem/@class">
                                            <label>Inschriftengattung</label>
                                            <select ref="instance('typeins')?*" class="widget" selection="open">
                                                <template>
                                                    <option value="{?value}">{?name}</option>
                                                </template>
                                            </select>
                                        </fx-control>

                                        <!--                        <fx-group>-->
                                        <!--                            <label>Inschriftträger</label>-->
                                        <!-- 19) -->
                                        <fx-control ref="physDesc/objectDesc/supportDesc/support/dimensions/width">
                                            <label>Breite</label>
                                        </fx-control>
                                        <!-- 38) -->
                                        <fx-control ref="physDesc/objectDesc/supportDesc/support/dimensions/height">
                                            <label>Höhe</label>
                                        </fx-control>
                                        <!-- 20) -->
                                        <fx-control ref="physDesc/objectDesc/supportDesc/support/dimensions/depth">
                                            <label>Tiefe</label>
                                        </fx-control>
                                        <!--                        </fx-group>-->

                                        <fx-group class="group-9">
                                            <!-- 34) -->
                                            <fx-control ref="physDesc/objectDesc/layoutDesc/layout/rs[@type='palaeography']/@ref">
                                                <label>Paläographie</label>
                                            </fx-control>
                                        </fx-group>
                                    </fx-group>
                                    <fx-group class="group-4">
                                        <label>Inschriftfeld</label>
                                        <!-- 21) -->
                                        <fx-control ref="physDesc/objectDesc/layoutDesc/layout/dimensions/height">
                                            <label>Höhe</label>
                                        </fx-control>
                                        <!-- 22) -->
                                        <fx-control ref="physDesc/objectDesc/layoutDesc/layout/dimensions/width">
                                            <label>Breite</label>
                                        </fx-control>
                                        <!-- 23) -->
                                        <fx-control ref="physDesc/handDesc/handNote/dimensions/height">
                                            <label>Buchstabenhöhe</label>
                                        </fx-control>
                                    </fx-group>


                                    <fx-group class="group-5">
                                        <!-- 24) -->
                                        <fx-control ref="instance('tmp')/dummy">
                                            <label>Metrik</label>
                                        </fx-control>
                                        <!-- 25) -->
                                        <fx-control ref="msContents/msItem/textLang">
                                            <label>Sprache</label>
                                        </fx-control>
                                    </fx-group>

                                    <fx-var name="frag" value="'#' || ./@xml:id"></fx-var>

                                    <fieldset>
                                        <legend>Bibliographie</legend>


                                        <fieldset>
                                            <legend>
                                                <label>Editionen</label>
                                                <fx-trigger class="add">
                                                    <iron-icon icon="add-circle-outline" title="add edition"/>

                                                    <!-- ##### when a new entry is created.. ##### -->
                                                    <!-- ##### 1. store away the value of the xml:id of this part as fx-var is failing here for some reason ##### -->
                                                    <!--
                                                                                    <fx-setvalue ref="instance('vars')/parent"
                                                                                                 value="instance()//msPart[index('parts')]/@xml:id"></fx-setvalue>
                                                    -->

                                                    <!-- ##### 2. insert a new bibl element ##### -->
                                                    <fx-insert context="msContents/msItem/listBibl[@type='edition']"
                                                               ref="bibl"
                                                               origin="instance('mspart')//listBibl[@type='edition']/bibl"/>
                                                </fx-trigger>
                                            </legend>
                                            <fx-repeat class="nested-repeat" id="bib"
                                                       ref="msContents/msItem/listBibl[@type='edition']/bibl">
                                                <template>
                                                    <fx-var name="current" value="count(./preceding-sibling::bibl) + 1"></fx-var>

                                                    <!--
                                                    Would be nice to link the control directly to body section but this cause the refresh to drop out.
                                                    Controls not yet recognize if they depend on some other control.

                                                    <fx-control ref="//div[@type='edition']/div[@corresp = $frag][$current]" as="node" update-event="update">-->
                                                    <fx-control ref="ptr">
                                                        <label>Zotero Referenz</label>
                                                    </fx-control>

                                                    <fx-trigger>
                                                        <iron-icon icon="remove-circle-outline" title="delete Bibliographie"/>
                                                        <fx-delete ref="."/>
                                                    </fx-trigger>

                                                </template>
                                            </fx-repeat>

                                        </fieldset>
                                        <!-- 35b) -->

                                        <!-- 35a) Ältere Editionen -->
                                        <fieldset>
                                            <legend>
                                                <label>Ältere Editionen</label>
                                                <fx-trigger class="add">
                                                    <iron-icon icon="add-circle-outline" title="add Bibliographie"/>

                                                    <fx-insert context="msContents/msItem/listBibl[@type='previousEditions']"
                                                               ref="bibl"
                                                               origin="instance('mspart')//listBibl[@type='previousEditions']/bibl"/>
                                                </fx-trigger>
                                            </legend>
                                            <fx-repeat class="nested-repeat" id="bib"
                                                       ref="msContents/msItem/listBibl[@type='previousEditions']/bibl">
                                                <template>
                                                    <fx-var name="current" value="count(./preceding-sibling::bibl) + 1"></fx-var>

                                                    <!--
                                                    Would be nice to link the control directly to body section but this cause the refresh to drop out.
                                                    Controls not yet recognize if they depend on some other control.

                                                    <fx-control ref="//div[@type='edition']/div[@corresp = $frag][$current]" as="node" update-event="update">-->
                                                    <fx-control ref="ptr">
                                                        <label>Zotero Referenz</label>
                                                    </fx-control>

                                                    <fx-trigger>
                                                        <iron-icon icon="remove-circle-outline" title="delete Bibliographie"/>
                                                        <fx-delete ref="."/>
                                                    </fx-trigger>

                                                </template>
                                            </fx-repeat>
                                        </fieldset>

                                        <!-- 35c) Bilder: Verweis auf Literatur, in der Abbildung vorhanden -->
                                        <fieldset>
                                            <legend>
                                                <label>Bilder</label>
                                                <fx-trigger class="add">
                                                    <iron-icon icon="add-circle-outline" title="add image"/>

                                                    <fx-insert context="msContents/msItem/listBibl[@type='images']"
                                                               ref="bibl"
                                                               origin="instance('mspart')//listBibl[@type='images']/bibl"/>
                                                </fx-trigger>
                                            </legend>
                                            <fx-repeat class="nested-repeat" id="bib"
                                                       ref="msContents/msItem/listBibl[@type='images']/bibl">
                                                <template>

                                                    <fx-control ref="ptr">
                                                        <label>Bild</label>
                                                    </fx-control>

                                                    <fx-trigger>
                                                        <iron-icon icon="remove-circle-outline" title="delete image"/>
                                                        <fx-delete ref="."/>
                                                    </fx-trigger>

                                                </template>
                                            </fx-repeat>
                                        </fieldset>
                                    </fieldset>

                                    <fx-group class="group-10">
                                        <fx-control class="transcription" ref="div[@type='textpart']" as="node" update-event="blur">
                                            <h3>Transkription</h3>
                                            <jinn-epidoc-editor id="transcriptionEditor" schema="resources/scripts/epidoc.json" unwrap="unwrap" class="widget">
                                                <div slot="leiden-toolbar">
                                                    <button data-command="expan" data-mode="leiden_plus">(a(bcd))</button>
                                                    <button data-command="erasure" data-mode="leiden_plus">〚abc〛</button>
                                                    <button data-command="unclear" data-mode="leiden_plus">ạ</button>
                                                    <button data-command="div" data-mode="leiden_plus">&lt;=...</button>
                                                    <button data-command="part" data-mode="leiden_plus">&lt;D=.A.part...</button>
                                                    <button data-command="recto" data-mode="leiden_plus">&lt;D=.r...</button>
                                                    <button data-command="verso" data-mode="leiden_plus">&lt;D=.v...</button>
                                                    <button data-command="erasure" data-mode="edcs">〚abc〛</button>
                                                    <button data-command="gap" data-mode="edcs">[...]</button>
                                                    <button data-command="convert" data-mode="edcs">Leiden+</button>
                                                </div>
                                                <div slot="xml-toolbar">
                                                    <button data-command="selectElement" title="Select element around current cursor position">&lt;|&gt;</button>
                                                    <button data-command="encloseWith" title="Enclose selection in new element">&lt;...&gt;</button>
                                                    <button data-command="removeEnclosing" title="Remove enclosing tags" class="sep">&lt;X&gt;</button>
                                                    <button data-command="snippet" data-params='&lt;ab&gt;$|_|&lt;/ab&gt;'
                                                            title="Insert ab">&lt;ab&gt;
                                                    </button>
                                                    <button data-command="snippet" data-params='&lt;supplied reason="lost"&gt;$|_|&lt;/supplied&gt;'
                                                            title="Insert supplied">&lt;supplied&gt;
                                                    </button>
                                                    <button data-command="snippet" data-params='&lt;expan&gt;&lt;abbr&gt;$|1|&lt;/abbr&gt;&lt;ex&gt;$|2|&lt;/ex&gt;&lt;/expan&gt;$|3|'
                                                            title="Insert expan/abbr">&lt;expan&gt;
                                                    </button>
                                                    <button data-command="snippet" data-params='&lt;gap reason="lost" extent="unknown" unit="character"/&gt;$|1|'
                                                            title="Gap extent unknown">&lt;gap/unknown&gt;</button>
                                                    <button data-command="snippet" data-params='&lt;gap reason="lost" quantity="$|1|" unit="$|2:line|"/&gt;$|3|'
                                                            title="Gap extent known">&lt;gap&gt;</button>
                                                </div>
                                            </jinn-epidoc-editor>
                                        </fx-control>
<!--
                                        <fx-message event="invalid" target="transcriptionEditor">transcription invalid</fx-message>
                                        <fx-message event="valid" target="transcriptionEditor">transcription valid</fx-message>
                                        <fx-setvalue event="invalid" target="transcriptionEditor" ref="instance('vars')/transcription-valid">true</fx-setvalue>
                                        <fx-setvalue event="valid" target="transcriptionEditor" ref="instance('vars')/transcription-valid">false</fx-setvalue>
-->


                                        <!-- 36) Apparatus für 1. Fragment: @corresp referenziert msPart - eingefügt aus jinn-codemirror -->
                                        <fx-control class="apparatus" ref="div[@type='apparatus']" as="node" update-event="blur">
                                            <h3>Apparatus</h3>
                                            <jinn-xml-editor id="apparatus" class="widget" unwrap="unwrap"
                                                             namespace="http://www.tei-c.org/ns/1.0">
                                                <div slot="toolbar">
                                                    <button data-command="selectElement"
                                                            title="Select element around current cursor position">&lt;|>
                                                    </button>
                                                    <button data-command="encloseWith" title="Enclose selection in new element">&lt;...&gt;</button>
                                                    <button data-command="removeEnclosing" title="Remove enclosing tags"
                                                            class="sep">&lt;X>
                                                    </button>
                                                    <button data-command="snippet" data-params="&lt;listApp>$|_|&lt;/listApp>"
                                                            title="Insert apparatus list">&lt;listApp&gt;
                                                    </button>
                                                    <button data-command="snippet"
                                                            data-params='&lt;app loc="$|1|">&lt;note>$|_|&lt;/note>&lt;/app>'
                                                            title="Insert apparatus entry">&lt;app&gt;
                                                    </button>
                                                </div>
                                            </jinn-xml-editor>
                                        </fx-control>
                                        <!--fx-replace ref="div[@type='apparatus']/*[1]"
                                                    with="parse(event('content'))"
                                                    target="apparatus"
                                                    event="update">
                                        </fx-replace-->

                                        <!-- 42) Übersetzung: @corresp referenziert msPart; @resp = Kürzel des Übersetzers - eingefügt aus jinn-codemirror -->
                                        <fx-control class="translation" ref="div[@type='translation']" as="node"
                                                    update-event="blur">
                                            <h3>Übersetzung</h3>
                                            <jinn-xml-editor id="translation" unwrap="unwrap" class="widget"
                                                             namespace="http://www.tei-c.org/ns/1.0">
                                                <div slot="toolbar">
                                                    <button data-command="selectElement"
                                                            title="Select element around current cursor position">&lt;|&gt;
                                                    </button>
                                                    <button data-command="encloseWith" title="Enclose selection in new element">&lt;...&gt;</button>
                                                    <button data-command="removeEnclosing" title="Remove enclosing tags"
                                                            class="sep">&lt;X&gt;
                                                    </button>
                                                    <button data-command="snippet" data-params="&lt;p&gt;$|_|&lt;/p&gt;"
                                                            title="Insert paragraph">&lt;p&gt;
                                                    </button>
                                                </div>
                                            </jinn-xml-editor>
                                        </fx-control>
<!--
                                        <fx-setvalue event="invalid" target="translation" ref="instance('vars')/translation-valid">true</fx-setvalue>
                                        <fx-setvalue event="valid" target="translation" ref="instance('vars')/translation-valid">false</fx-setvalue>
-->
                                    </fx-group>
                                </fieldset>
                                <!--
                                                            <div class="repeat-caption">
                                                                <label>Edition</label>
                                                                <fx-trigger class="add">
                                                                    <iron-icon icon="add-circle-outline" title="add Bibliographie"/>

                                                                </fx-trigger>
                                                            </div>
                                -->

                                <!--                    </div>-->


                                <fx-trigger class="delete {if(count(./preceding-sibling::msPart) = 0) then 'hidden' else ''}">
                                    <button>Löschen</button>
                                    <!--                        <fx-confirm message="really delete?">-->
                                    <fx-delete ref="."></fx-delete>
                                    <!--                        </fx-confirm>-->
                                    <!--                            <fx-delete ref="."></fx-delete>-->
                                </fx-trigger>


                            </template>
                        </fx-repeat>
                        <!-- #####
                        option 3: without fx-control just catching the event and using replace action to update node

                        moved this out of repeat to ensure it's not id clashing
                        ##### -->
                        <!--            <fx-replace ref="instance('default')//body/div[@type='edition']/div[fn:last()]" -->
                        <!--
                                    <fx-replace ref="instance('templates')/epidoc"
                                                with="parse(event('content'))"
                                                event="update"
                                                target="epidoc-editor3"></fx-replace>
                                    <fx-refresh event="update" force="force" target="epidoc-editor3"></fx-refresh>
                                    <jinn-epidoc-editor id="epidoc-editor3" class="widget" schema="resources/scripts/epidoc.json"/>
                        -->


                        <fx-trigger class="add">
                            <button>Hinzufügen</button>
                            <fx-action>
                                <!-- insert a new msPart  -->
                                <fx-insert ref="//msPart" origin="instance('mspart')"/>
                                <!-- update and refresh so the repeat index is updated -->
                                <fx-update/>
                                <fx-refresh/>
                                <!-- setting generated id on new msPart -->
                                <fx-var name="uuid" value="gen-id()"/>
                                <fx-setvalue ref="//msPart[index('parts')]/@xml:id" value="$uuid"/>

                                <!-- add required textpart to edition
                                <fx-insert ref="//body/div[@type='edition']/div" origin="instance('templates')//div[@type='edition']/div"/>
                                <fx-update/>
                                <fx-refresh/>
                                <fx-setvalue ref="//body/div[@type='edition']/div[fn:last()]/@corresp" value="$uuid"/>
                                -->
                            </fx-action>
                        </fx-trigger>

                        <!--
                                    <fx-group class="group-10">
                                        <fx-control class="commentary"
                                                    ref="instance('default')//body/div[@type='commentary']" as="node" update-event="update">
                                            <label>Kommentar</label>
                                            <jinn-xml-editor class="widget" unwrap="unwrap" namespace="http://www.tei-c.org/ns/1.0">
                                                <div slot="toolbar">
                                                    <button data-command="selectElement" title="Select element around current cursor position">&lt;|></button>
                                                    <button data-command="encloseWith" title="Enclose selection in new element">&lt;...&gt;</button>
                                                    <button data-command="removeEnclosing" title="Remove enclosing tags" class="sep">&lt;X></button>
                                                    <button data-command="snippet" data-params="&lt;p>$|_|&lt;/p>" title="Insert paragraph">&lt;p&gt;</button>
                                                </div>
                                            </jinn-xml-editor>
                                        </fx-control>
                                    </fx-group>
                        -->

                        <!--
                        This won't call the update-cycle for each event as the replace action in its current form does not
                        call it. The control will refresh the UI when the control looses focus (onblur).
                        -->
                        <fx-group class="group-10">
                            <fx-control class="commentary" ref="instance('default')//body/div[@type='commentary']" as="node"
                                        update-event="blur">
                                <h3>Kommentar</h3>
                                <jinn-xml-editor id="commentary" class="widget" unwrap="unwrap"
                                                 namespace="http://www.tei-c.org/ns/1.0">
                                    <div slot="toolbar">
                                        <button data-command="selectElement" title="Select element around current cursor position">
                                            &lt;|&gt;
                                        </button>
                                        <button data-command="encloseWith" title="Enclose selection in new element">&lt;...&gt;
                                        </button>
                                        <button data-command="removeEnclosing" title="Remove enclosing tags" class="sep">&lt;X&gt;
                                        </button>
                                        <button data-command="snippet" data-params="&lt;p&gt;$|_|&lt;/p&gt;"
                                                title="Insert paragraph">&lt;p&gt;
                                        </button>
                                    </div>
                                </jinn-xml-editor>
                            </fx-control>

                            <!--fx-replace ref="instance('default')//body/div[@type='commentary']"
                                        with="parse(event('content'))"
                                        target="commentary"
                                        event="update"></fx-replace-->
                        </fx-group>


                        <!-- 26) -->
                        <fx-group ref="//msDesc" class="group-6">
                            <!-- 26), 27)-->
                            <fx-control ref="history/origin/origDate/@when-custom">
                                <label>Zeitpunkt</label>
                                <input placeholder="YYYY, YYYY-MM oder YYYY-MM-DD" class="widget"/>
                            </fx-control>
                            <fx-control ref="history/origin/origDate/@notBefore-custom">
                                <label>nach</label>
                            </fx-control>
                            <fx-control ref="history/origin/origDate/@notAfter-custom">
                                <label>vor</label>
                            </fx-control>
                            <fx-control ref="history/origin/origDate">
                                <label>Freie Angabe</label>
                            </fx-control>
                        </fx-group>

                        <fx-group ref="profileDesc" class="group-7">
                            <!-- 28)  -->
                            <fx-control ref="textClass/keywords/term">
                                <label>Religion</label>
                                <select class="widget">
                                    <option value=""/>
                                    <option value="pagan">pagan</option>
                                    <option value="jüdisch">jüdisch</option>
                                    <option value="christlich">christlich</option>
                                </select>
                            </fx-control>
                            <!-- 29) missing -->
                            <!-- 30) -->
                            <fx-control ref="textClass/keywords/term[@ref='#social-economic-legal-history']" value-prop="checked">
                                <label for="social">Sozial-,Wirschafts-/Rechtsgeschichte</label>
                                <input id="social" type="checkbox" class="widget"/>
                            </fx-control>
                            <!-- 31) -->
                            <fx-control ref="textClass/keywords/term[@ref='#geography']" value-prop="checked">
                                <label for="geo">Geographie</label>
                                <input id="geo" type="checkbox" class="widget"/>
                            </fx-control>
                            <!-- 32) -->
                            <fx-control ref="textClass/keywords/term[@ref='#military']" value-prop="checked">
                                <label for="mili">Militär</label>
                                <input id="mili" type="checkbox" class="widget"/>
                            </fx-control>
                        </fx-group>

                        <fx-group class="group-8">
                            <!-- 33) -->
                            <fx-control ref="revisionDesc/@status">
                                <label>Stand der Bearbeitung</label>
                                <select class="widget">
                                    <option value="draft">intern</option>
                                    <option value="public">öffentlich</option>
                                </select>
                            </fx-control>
                        </fx-group>

                        <!-- 35b) -->
                        <!-- 35a) -->
                        <!-- 35c) -->
                        <!-- 35d) -->


                        <!-- 47) -->
                        <!-- 45) -->

                        <fx-trigger class="saveBtn" ref="instance('vars')/loggedin">
                            <button>Speichern</button>
                            <fx-send submission="s-create" if="not(exists(instance('params')/id))"></fx-send>
                            <fx-send submission="s-save" if="exists(instance('params')/id)"></fx-send>
                        </fx-trigger>
                        <fx-control ref="instance('vars')/xml-valid" class="valid-warning">
                            <fx-alert>Bitte XML korrigieren, um zu speichern.</fx-alert>
                            <input style="display:none;"></input>
                        </fx-control>
                    </fx-group>
                    <fx-inspector/>
                </fx-fore>

            </main>

            <footer class="version">
                App: v<span data-template="pages:version"/> / web components: v<pb-version/>
            </footer>
        </app-header-layout>
    </app-drawer-layout>
    <paper-dialog id="downloadDialog">
        <h2>
            <pb-i18n key="dialogs.generatingFile">Generating File...</pb-i18n>
        </h2>
        <paper-dialog-scrollable>
            <pb-i18n key="dialogs.downloadMessage"/>
        </paper-dialog-scrollable>
        <div class="buttons">
            <paper-button dialog-confirm="dialog-confirm" autofocus="autofocus">
                <pb-i18n key="dialogs.close">Close</pb-i18n>
            </paper-button>
        </div>
    </paper-dialog>
    <paper-dialog id="errorDialog">
        <h2><pb-i18n key="dialogs.error">Error</pb-i18n></h2>
        <paper-dialog-scrollable/>
        <div class="buttons">
            <paper-button dialog-confirm="dialog-confirm" autofocus="autofocus">
                <pb-i18n key="dialogs.close">Close</pb-i18n>
            </paper-button>
        </div>
    </paper-dialog>
</pb-page>
<div class="splash"/>
<script src="./resources/scripts/util.js" type="text/javascript"/>
</body>

</html>