<html lang="en">
<head>
    <!--    <base href="${app}" data-template="pages:parse-params" />-->
    <meta charset="utf-8" />
    <meta content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" name="viewport" />

    <title>zotero</title>

    <link rel="stylesheet" href="resources/css/fore.css" media="screen" />
    <!--    <link href="clock.css" rel="stylesheet">-->
    <script type="module" src="resources/scripts/fore-dev.js"></script>
    <script type="module" src="resources/scripts/zotero-autocomplete.js"></script>

</head>
<body>
<div class="wrapper">
    <zotero-autocomplete
        endpoint="../api/zotero/items/suggest"
        bib-endpoint="../api/zotero/items/bib"
        tag=""
        limit="8"
        minlength="2"
        debounce="250">
    </zotero-autocomplete>
</div>

<script>
  // Listen for selection
  document.querySelector('zotero-autocomplete')
    .addEventListener('zotero-select', (e) => {
      console.log('Selected:', e.detail); // { key, title, bib }
      // e.g., insert e.detail.bib into your UI
    });
</script>
</body>
</html>
