<details id="finddate">
    <summary>
        <pb-i18n key="form.year-of-find">Fundjahr/-datum</pb-i18n>
    </summary>

    <fx-group ref="history/provenance[@type='found']">
        <!-- YYYY ->  matches(//title,'^-?[1-9]\d*$')-->
        <!-- YYYY-MM-DD -> matches(//title,'^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$')    -->
        <fx-control ref="@when" create="create">
            <label>
                <pb-i18n key="form.date">Zeitpunkt</pb-i18n>
            </label>
            <input placeholder="YYYY, YYYY-MM oder YYYY-MM-DD" class="widget" />
            <fx-alert>
                <iron-icon icon="warning"></iron-icon>
                <pb-i18n key="form.date-invalid">Ungültiges Datum</pb-i18n>
            </fx-alert>
        </fx-control>
        <fx-control ref="@notBefore" create="create">
            <label>
                <pb-i18n key="form.date-after">nach</pb-i18n>
            </label>
            <input placeholder="YYYY, YYYY-MM oder YYYY-MM-DD" class="widget" />
            <fx-alert>
                <iron-icon icon="warning"></iron-icon>
                <pb-i18n key="form.date-invalid">Ungültiges Datum</pb-i18n>
            </fx-alert>
        </fx-control>
        <fx-control ref="@notAfter" create="create">
            <label>
                <pb-i18n key="form.date-before">vor</pb-i18n>
            </label>
            <input placeholder="YYYY, YYYY-MM oder YYYY-MM-DD" class="widget" />
            <fx-alert>
                <iron-icon icon="warning"></iron-icon>
                <pb-i18n key="form.invalid-date">Ungültiges Datum</pb-i18n>
            </fx-alert>
        </fx-control>
        <fx-control
          ref="note[@type='found-date']"
          as="node"
          update-event="leave">
            <label>
                <pb-i18n key="form.found-date">Dating context</pb-i18n>
            </label>
            <edep-xml-editor
              class="widget"
              placeholder="[Inline text/markup or sequence of paragraphs]"
              schema-root="provenance"
              base-url="${app}"
              data-template="lib:parse-params">
            </edep-xml-editor>
        </fx-control>
    </fx-group>
</details>
