<details id="inscription-field">
    <summary>
        <pb-i18n key="form.inscription-field">Inschriftfeld</pb-i18n>
    </summary>

    <fx-group ref="physDesc/objectDesc/layoutDesc/layout" id="dimensions">
        <fx-control class="measurement" ref="dimensions/height">
            <label>
                <pb-i18n key="form.height">Höhe</pb-i18n>
            </label>
        </fx-control>

        <fx-control class="measurement" ref="dimensions/width">
            <label>
                <pb-i18n key="form.width">Breite</pb-i18n>
            </label>
        </fx-control>

        <fx-control ref="ab" as="node" update-event="leave">
            <label>
                <pb-i18n key="form.description">Beschreibung</pb-i18n>
            </label>
            <edep-xml-editor
              class="widget"
              placeholder="[Inline text/markup or sequence of paragraphs]"
              schema-root="provenance"
              base-url="${app}"
              data-template="lib:parse-params">
            </edep-xml-editor>
        </fx-control>
    </fx-group>

    <label>
        <pb-i18n key="form.letter-size">Buchstabenhöhe</pb-i18n>
    </label>

    <fx-trigger class="add">
        <pb-popover>
            <iron-icon icon="add-circle-outline"></iron-icon>
            <template slot="alternate">
                <pb-i18n key="form.hint-add-language"></pb-i18n
                ></template>
        </pb-popover>
        <fx-insert
          context="physDesc/handDesc"
          ref="handNote"
          origin="instance('templates')/handNote[@scope='letterHeight']"></fx-insert>
    </fx-trigger>

    <fx-repeat
      class="nested-repeat"
      ref="physDesc/handDesc/handNote[@scope='letterHeight']"
      id="r-letterHeight">
        <template>
            <fx-group>
                <fx-control ref="locus">
                    <label>
                        <pb-i18n key="form.line"/>
                    </label>
                </fx-control>

                <fx-group ref="dimensions/height">
                    <fx-control ref=".">
                        <label>
                            <pb-i18n key="form.letter-size-free"/>
                        </label>
                    </fx-control>

                    <fx-control ref="@min" create="create">
                        <label>
                            <pb-i18n key="form.letter-size-min"/>
                        </label>
                    </fx-control>

                    <fx-control ref="@max" create="create">
                        <label>
                            <pb-i18n key="form.letter-size-max"/>
                        </label>
                    </fx-control>
                </fx-group>
            </fx-group>

            <fx-trigger>
                <pb-popover>
                    <iron-icon icon="remove-circle-outline"></iron-icon>
                    <template slot="alternate">
                        <pb-i18n key="form.hint-delete"></pb-i18n
                        ></template>
                </pb-popover>
                <fx-delete ref="."></fx-delete>
            </fx-trigger>
        </template>
    </fx-repeat>

</details>
