<details id="location">
    <summary>
        <pb-i18n key="form.last-recorded-location"></pb-i18n>
    </summary>
    <!-- 12a) -->
    <div class="with-hint">
        <fx-control ref="msIdentifier/repository">
            <label>
                <pb-i18n key="form.last-recorded-location"
                >Aufbewahrung</pb-i18n
                ></label
            >
        </fx-control>
    </div>

    <fx-control ref="msIdentifier/repository/@key">
        <label>
            <pb-i18n key="form.repository">Repository ID</pb-i18n>
        </label>
    </fx-control>
    <fx-control ref="msIdentifier/idno[@type='inventory']">
        <label>
            <pb-i18n key="form.repository-number">Repository Number</pb-i18n>
        </label>
    </fx-control>

    <!-- 12b) -->
    <div class="with-hint">
        <fx-control
          ref="history/provenance[@type='history']"
          as="node"
          update-event="leave">
            <label>
                <pb-i18n key="form.other-events">Weitere Ereignisse</pb-i18n></label
            >
            <edep-xml-editor
              class="widget"
              placeholder="[Inline text/markup or sequence of paragraphs]"
              schema-root="provenance">
            </edep-xml-editor>
        </fx-control>
        <pb-popover>
            <iron-icon icon="info-outline"></iron-icon>
            <template slot="alternate">
                <pb-i18n key="form.hint-other-events"></pb-i18n>
            </template>
        </pb-popover>
    </div>
</details>
