<details id="objectdesc">
    <summary>
        <pb-i18n key="form.object-description"/>
    </summary>

    <fx-group ref="physDesc">
        <fx-group ref="decoDesc/decoNote">
            <fx-control ref="@corresp" update-event="input" create="create">
                <label>
                    <pb-i18n key="form.decoration"/>
                </label>
                <select
                ref="sortNames(instance('decoration')//category)"
                class="widget"
                selection="open">
                    <template>
                        <!-- prettier-ignore -->
                        <option value="{@corresp}">{head((catDesc[@xml:lang = $lang], catDesc))}</option>
                    </template>
                </select>
            </fx-control>

            <fx-control ref=".">
                <label>
                    <pb-i18n key="form.decoration-description"/>
                </label>
            </fx-control>
        </fx-group>

        <fx-control ref="objectDesc/supportDesc/condition" update-event="input">
            <label>
                <pb-i18n key="form.preservation"/>
            </label>
            <select
                ref="instance('preservation')//category"
                class="widget">
                <template>
                    <!-- prettier-ignore -->
                    <option value="{@xml:id}">{catDesc[@xml:lang = $lang]}</option>
                </template>
            </select>     
        </fx-control>
        <fx-group ref="objectDesc/supportDesc/support">
            <fieldset>
                <legend>
                    <pb-i18n key="form.type-of-monument"/>
                </legend>
                <fx-repeat
                  class="nested-repeat"
                  ref="objectType"
                  id="r-objtyp">
                    <template>
                        <fx-group>                   
                            <fx-control ref="@ref">
                                <label>
                                    <pb-i18n key="form.type-of-monument"/>
                                </label>
                                <select
                                class="widget"
                                ref="sortNames(instance('objtyp')//category)">
                                    <template>
                                        <option value="{@corresp}">{catDesc[@xml:lang = $lang]}</option>
                                    </template>
                                </select>
                            </fx-control>
                        </fx-group>
                        <fx-trigger>
                            <pb-popover>
                                <iron-icon icon="remove-circle-outline"></iron-icon>
                                <template slot="alternate">
                                    <pb-i18n key="form.hint-delete-objecttype"></pb-i18n
                                    ></template>
                            </pb-popover>
                            <fx-delete ref="."></fx-delete>
                        </fx-trigger>
                    </template>
                </fx-repeat>
                <fx-trigger class="add">
                    <pb-popover>
                        <iron-icon icon="add-circle-outline"></iron-icon>
                        <template slot="alternate">
                            <pb-i18n key="form.hint-add-objecttype"> </pb-i18n
                            ></template>
                    </pb-popover>
                    <fx-insert
                        context="."
                        ref="objectType"
                        origin="instance('templates')/objectType"></fx-insert>
                </fx-trigger>
            </fieldset>

            <fx-control ref="note[not(@type)]" as="node" update-event="leave">
                <label>
                    <pb-i18n key="form.description-of-monument"/>
                </label>
                <edep-xml-editor
                  class="widget"
                  placeholder="[Inline text/markup or sequence of paragraphs]"
                  schema-root="provenance"
                  base-url="${app}"
                  data-template="lib:parse-params">
                </edep-xml-editor>
            </fx-control>
                
            <fieldset>
                <legend>
                    <pb-i18n key="form.material"/>
                </legend>
                <fx-repeat
                    class="nested-repeat"
                    ref="material"
                    id="r-material">
                    <template>
                        <fx-group>                   
                            <fx-control ref="@ref">
                                <label>
                                    <pb-i18n key="form.material"/>
                                </label>
                                <select
                                class="widget"
                                ref="sortNames(instance('material')//category)">
                                    <template>
                                        <option value="{@corresp}">{catDesc[@xml:lang = $lang]}</option>
                                    </template>
                                </select>
                            </fx-control>
                        </fx-group>
                        <fx-trigger>
                            <pb-popover>
                                <iron-icon icon="remove-circle-outline"></iron-icon>
                                <template slot="alternate">
                                    <pb-i18n key="form.hint-delete-material"/>
                                </template>
                            </pb-popover>
                            <fx-delete ref="."></fx-delete>
                        </fx-trigger>
                    </template>
                </fx-repeat>
                <fx-trigger class="add">
                    <pb-popover>
                        <iron-icon icon="add-circle-outline"></iron-icon>
                        <template slot="alternate">
                            <pb-i18n key="form.hint-add-material"/>
                        </template>
                    </pb-popover>
                    <fx-insert
                        context="."
                        ref="material"
                        origin="instance('templates')/material"></fx-insert>
                </fx-trigger>
            </fieldset>

            <fx-control class="measurement" ref="dimensions/height">
                <label>
                    <pb-i18n key="form.height"/>
                </label>
            </fx-control>
            <fx-control class="measurement" ref="dimensions/width">
                <label>
                    <pb-i18n key="form.width"/>
                </label>
            </fx-control>
            <fx-control class="measurement" ref="dimensions/depth">
                <label>
                    <pb-i18n key="form.depth"/>
                </label>
            </fx-control>
        </fx-group>
    </fx-group>

    <div class="alternatives">
        <fx-group ref="msContents">
            <fx-control ref="@class" update-event="input" create="create">
                <label>
                    <pb-i18n key="form.type-of-inscription"/>
                </label>
                <fx-items ref="sortNames(instance('typeins')//category)" class="widget">
                    <template>
                        <span class="fx-checkbox">
                            <input type="checkbox" value="{@corresp}" />
                            <label>{catDesc[@xml:lang = $lang]}</label>
                        </span>
                    </template>
                </fx-items>
            </fx-control>

            <fx-control ref="summary">
                <label>
                    <pb-i18n key="form.remarks"/>
                </label>
            </fx-control>
        </fx-group>
    </div>

</details>
