<details id="pictures" class="group-6">
    <summary>
        <pb-i18n key="form.images">Abbildungen (URLs)</pb-i18n>
        <pb-popover>
            <iron-icon icon="info-outline"></iron-icon>
            <template slot="alternate">
                <pb-i18n key="form.hint-images"></pb-i18n>
            </template>
        </pb-popover>
    </summary>
    <!-- 35d) Abbildungen -->
    <fx-group ref="instance('default')/facsimile" class="neutral">
        <fieldset>
            <legend>
                <label>
                    <pb-i18n key="form.images">Abbildungen (URLs)</pb-i18n>
                </label>
                <fx-trigger class="add" title="Abbildung hinzufügen">
                    <iron-icon icon="add-circle-outline"></iron-icon>

                    <fx-insert
                      context="facsimile"
                      ref="graphic"
                      origin="instance('templates')/graphic"></fx-insert>
                    <!--                                                       <fx-refresh control="r-pics"></fx-refresh>-->
                </fx-trigger>
            </legend>
            <fx-repeat class="nested-repeat" ref="graphic" id="r-pics">
                <template>
                    <fx-control ref="@url" create="create">
                        <label>URL</label>
                    </fx-control>

                    <fx-trigger>
                        <iron-icon
                          icon="remove-circle-outline"
                          title="delete image"></iron-icon>
                        <fx-delete ref="."></fx-delete>
                    </fx-trigger>
                </template>
            </fx-repeat>
        </fieldset>
    </fx-group>
</details>
