<fx-group ref="fileDesc/sourceDesc/listBibl" id="references">
    <h2>
        <pb-i18n key="form.references">Referenzen</pb-i18n>
        <pb-popover>
            <iron-icon icon="info-outline"></iron-icon>
            <template slot="alternate">
                <pb-i18n key="form.hint-references"></pb-i18n>
            </template>
        </pb-popover>
    </h2>

    <div id="transmission" data-template="lib:include" data-template-path="templates/transmission.html" data-template-replace="true"></div>

    <div id="prev-editions" data-template="lib:include" data-template-path="templates/prev-editions.html" data-template-replace="true"></div>
    <div id="bibliography" data-template="lib:include" data-template-path="templates/bibliography.html" data-template-replace="true"></div>


    <div id="images" data-template="lib:include" data-template-path="templates/images.html" data-template-replace="true"></div>
    <div id="pictures" data-template="lib:include" data-template-path="templates/pictures.html" data-template-replace="true"></div>

</fx-group>
