<details id="text-description">
    <!-- 
    
    METRE: select
    ?LANGUAGES: select + checkbox (if main language)
    ?LANGUAGE COMMENTS: free form
    PALEOGRAPHY: multiple checkboxes
    NOTE: text editor
    LIGATURE: select
    
    -->
    <summary>
        <pb-i18n key="form.text-description"></pb-i18n>
    </summary>
    <fx-group ref="ancestor::teiHeader/profileDesc" class="outer-group" aria-labelledby="profile-lbl">

        <summary id="profile-lbl">
            <pb-i18n key="form.language">Language(s)</pb-i18n>
        </summary>

        <fx-trigger class="add">
            <pb-popover>
                <iron-icon icon="add-circle-outline"></iron-icon>
                <template slot="alternate">
                    <pb-i18n key="form.hint-add-language"></pb-i18n
                    ></template>
            </pb-popover>
            <fx-insert
            context="langUsage"
            ref="language"
            origin="instance('templates')/language"></fx-insert>
        </fx-trigger>

        <fx-repeat
        class="nested-repeat"
        ref="langUsage/language[not(note)][@ident!='']"
        id="r-language">
            <template>
                <fx-group>
                    <fx-control ref="@ident" create="">
                        <label>
                            <pb-i18n key="form.language">Language</pb-i18n>
                        </label>
                        <select
                    ref="instance('language-options')//category"
                    class="widget">
                        <template>
                            <!-- prettier-ignore -->
                            <option value="{@xml:id}">{catDesc[@xml:lang = $lang]}</option>
                        </template>
                    </select>         
                    </fx-control>
                <!-- TODO change into radio/checkbox -->

                <fx-control ref="@ana" update-event="input" create="">
                        <label>
                            <pb-i18n key="form.languageScope"/>
                        </label>
                        <select
                        ref="instance('language-scope')//category"
                        class="widget">
                        <template>
                            <!-- prettier-ignore -->
                            <option value="{@xml:id}">{catDesc[@xml:lang = $lang]}</option>
                        </template>
                    </select>         
                    </fx-control>
                </fx-group>
                <fx-trigger>
                    <pb-popover>
                        <iron-icon icon="remove-circle-outline"></iron-icon>
                        <template slot="alternate">
                            <pb-i18n key="form.hint-delete-language"></pb-i18n
                            ></template>
                    </pb-popover>
                    <fx-delete ref="."></fx-delete>
                </fx-trigger>
            </template>
        </fx-repeat>

        <fx-control ref="langUsage/language[@ident='']/note">
            <label>
                <pb-i18n key="form.languageFree"
                >Andere Sprachen oder Kommentare</pb-i18n
                ></label
            >
        </fx-control>

    </fx-group>

    <fx-group ref="physDesc/objectDesc/layoutDesc/layout" id="layout">
        <!-- 24) -->
        <fx-control ref="note[@type='metre']" update-event="input">
            <label>
                <pb-i18n key="form.metre">Metrik</pb-i18n>
            </label>
            <select class="widget"
                ref="sortNames(instance('metre')//category)">
                <template>
                    <!-- prettier-ignore -->
                    <option value="{@corresp}">{catDesc[@xml:lang = $lang]}</option>
                </template>
            </select>
        </fx-control>

        <!-- NB: languages extracted to a separate section, because this pulls data from a different section of the TEI header -->

        <!-- 34) -->
        <div class="alternatives">
            <fx-control
              ref="note[@type='paleography']/@corresp"
              update-event="input">
                <label>
                    <pb-i18n key="form.paleography">Paläographie</pb-i18n>
                </label>
                <fx-items ref="instance('paleography')//category" class="widget">
                    <template>
                        <span class="fx-checkbox">
                            <input type="checkbox" value="{@corresp}"/>
                            <label>{catDesc[@xml:lang = $lang]}</label>
                        </span>
                    </template>
                </fx-items>
            </fx-control>
            <fx-control
              id="input34"
              ref="note[@type='paleography']"
              class="{instance('vars')/hide}"
              as="node"
              update-event="leave">
                <label>
                    <pb-i18n key="form.free-form">freie Angabe</pb-i18n>
                </label>
                <edep-xml-editor
                  class="widget"
                  placeholder="[Inline text/markup or sequence of paragraphs]"
                  schema-root="provenance"
                  base-url="${app}"
                  data-template="lib:parse-params">
                </edep-xml-editor>
            </fx-control>
        </div>
    </fx-group>

    <!-- 39) -->

    <fx-control ref="physDesc/handDesc/handNote[@scope='ligature']" update-event="input">
        <label>
            <pb-i18n key="form.ligature">Ligatur</pb-i18n>
        </label>
        <select
            ref="sortNames(instance('ligature')//category)"
            class="widget">
            <template>
                <!-- prettier-ignore -->
                <option value="{@corresp}">{catDesc[@xml:lang = $lang]}</option>
            </template>
        </select>
    </fx-control>
</details>
