.zotero-picker{
    position: relative;
}
.zotero-picker fx-repeat{
    display: none;
}
.zotero-picker.open fx-repeat{
    display: block;
    position: absolute;
    max-height: 50vh;
    overflow: auto;
    max-width: 100%;
    border: thin solid #ccc;
    padding: 0.25rem;
    z-index: 200;
    background: white;
}
.zotero-picker fx-repeat fx-repeatitem{
    border:none;
    margin:0;
}
.zotero-picker .bib{
    display: block;
    width: 100%;
    white-space: normal;
}
.zotero-picker .bib:hover{
    background: #efefef;
}
#zotero-bib-output{
    max-width: 100%;
    white-space: normal;
}
.zotero-bib{
    margin-left: 18rem;
    display: block;
    width: 50%;
    white-space: normal;
}
.zotero-picker fx-control{
    display: grid;
    grid-template-columns: 16rem 1rem 1fr 1rem;
    row-gap: 0.2rem;
    grid-template-areas:
    "label icon control clear"
    ". . alert ."
    ". . hint .";
    /*margin: 0.5rem;*/
    grid-column-gap: 0.5rem;
}

.zotero-picker fx-control iron-icon{
    grid-area: clear;
}
.zotero-picker progress{
    display:none;
    visibility: hidden;
    margin-left:18rem;
    width:inherit;
    /*position:absolute;*/
    /*top:0;*/
    height: 6px;
    /*min-height: 4px;*/
    margin-bottom:0.25rem;
}
.zotero-picker progress.busy{
    display: block;
    visibility: visible;
}
