h1, h2, h3, h4, h5, h6 {
    font-family: var(--pb-heading-font-family);
}


.metadata th {
    text-align:right;
    padding-right: 1em;
}

.metadata td, .metadata th {
    border-bottom: 1px solid #ddd;
}


/*toggle between normalized/diplomatic view */

	.choice-alternate {
		display: none;
	}

	.choice-alternate.toggle {
		display: inline;
	}

	.choice.toggle {
	display: none;
	}

    .lb.toggle {
        display: none;
    }

	.lb-hyphen.toggle {
        display: none;
    }