h1, h2, h3, h4, h5, h6 {
    font-family: var(--pb-heading-font-family);
}


.metadata th {
    text-align:right;
    padding-right: 1em;
}

.metadata td, .metadata th {
    border-bottom: 1px solid #ddd;
}

pb-geolocation {
    color: var(--pb-link-color);
    text-decoration:underline;
}


.facs {
    text-align:center;
}
            
.facs p, .facs h4 {
    margin-bottom:0;
}
            
.facsLinks {
    display:flex;
    justify-content:space-around;
}

.number-lb {
    position:absolute;
    font-style:normal;
    font-size:80%;
    color:#838383;
    text-align:right;
    font-weight:bold;
    left: -2.75em;
    width: 2em;
    padding-top:0.5%;
}


/*toggle between normalized/diplomatic view */

	.choice-alternate {
		display: none;
	}

	.choice-alternate.toggle {
		display: inline;
	}

	.choice.toggle {
	display: none;
	}

    .lb.toggle {
        display: none;
    }

	.lb-hyphen.toggle {
        display: none;
    }